html, body, #app, .el-container {
    height: 100%;
    background-color: azure;
    margin: 0;
    padding: 0;
}

.el-breadcrumb {
    margin-bottom: 10px;
}
.el-card {
    height: 100%;
}
.el-select {
    width: 100%;
}
/* 查询重置按钮样式 */
.searchBtn {
    margin-bottom: 10px;
}